/*.wevent {
	background-color: #F1D8D8;
}
*/
.prefix {
	display: none;
}

.payor_row {
	background-color: white;

}

#table_id {
	font-size: 14px;
}

.fg-toolbar .ui-toolbar .ui-widget-header .ui-helper-clearfix .ui-corner-tl .ui-corner-tr {
	position: fixed;
}

thead {
	font-size: 14px;
}